00 0    * * 7   root    apt-get update | mail -s "Server apt update" robertorodriguezines@gmail.com
30 0    * * 7   root    apt-get -y upgrade | mail -s "Server apt upgrade" robertorodriguezines@gmail.com
00 1    * * 7   root    clamscan -r -i / | mail -s "Server analisis AV" robertorodriguezines@gmail.com
